<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="libs/materialize.min.css">
  <link rel="stylesheet" href="libs/aos.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body class="signup-page">

<!-- HEADER -->
<header>

<!-- HEADER DROP DOWN -->
<ul id="dropdown1" class="dropdown-content">
  <li class="active"><a href="/login">Войти</a></li>
  <li><a href="/signup">Регистрация</a></li>
  <li class="divider"></li>
  <li><a href="/support">Помощь</a></li>
</ul>
<!-- /HEADER DROP DOWN -->

<!-- HEADER NAVIGATION -->
<ul id="slide-out" class="side-nav">
  <li class="center">
    <img class="responsive-img" src="images/logo.svg" alt="logo">
  </li>
  <li>
    <a href="/">Главная</a>
  </li>
  <li>
    <a class="dropdown-button" href="#" data-activates="dropdown1">Аккаунт<i class="material-icons right">arrow_drop_down</i></a>
  </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large side-nav__fixed-top">
  <div class="header__toggle">
    <div class="toggle-line"></div>
  </div>
</a>
<!-- /HEADER NAVIGATION -->

</header>
<!-- END HEADER -->

<main>
<div class="signup container">
  <form id="login__form" action="" method="POST">
    <div class="row">
        <div class="col-6">
          <div class="input-field">
            <input id="login" type="text" class="validate" name="login">
            <label for="login">Логин</label>
          </div>
        </div>
        <div class="col-sm-6 mb40">
          <div class="input-field">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Введите пароль</label>
          </div>
        </div>
        <div class="col-12 center">
          <button id="gologin" class="waves-effect waves-light btn" type="submit">Войти</button>
        </div>
    </div>
  </form>
</div>
</main>


<script src="libs/jquery-3.2.1.min.js"></script>
<script src="libs/jquery.form.min.js"></script>
<script src="libs/materialize.min.js"></script>
<script src="js/login.js"></script>
<script src="js/main.js"></script>
</body>
</html>